.App {
  position: relative;
  margin: 100px auto;
  text-align: center;
  width: 400px;
  height: 400px;
  background-color: #ddffd3;
}
input[type="text"] {
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
}